# LeafDet Maintenance Protocol
data/
logs/
test_images/

# IDE and Python Caches
.idea/
__pycache__/
.DS_Store

# Virtual Environment
venv/
.venv/

# Large ML Weights (Safety check)
*.pt
*.onnx
models/